GRIZZLY_API_KEY=your_api_key_here
MAX_PRICE=0.5
CANCEL_DELAY_SECONDS=150
OTP_FAIL_DELAY_SECONDS=420
CONCURRENCY=2
DB_PATH=results.db
RENT_RETRIES=600
RENT_RETRY_DELAY_SECONDS=5
# TG_BOT_TOKEN=123:abc
# TG_CHAT_ID=-456